// Override this file to add your own SCSS styling.

.f1.lh-solid.measure-narrow.mb3.fw4 { text-align: center }


.f4.mt0.mb4.lh-title.measure {
    text-align: center;
    margin-left: auto;
    margin-right: auto}

.mv0.w-70-m{
    margin-top: 40px;
}

.home .action.button{
  width: 200px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

div.highlight {
  background-color: #dae8e8 !important;
}

.pre {
  background-color: #dae8e8 !important;
  max-height: 400px !important;
}