// Override this file to add your own SCSS styling.

.f1.lh-solid.measure-narrow.mb3.fw4 { text-align: center }


.f4.mt0.mb4.lh-title.measure {
    text-align: center;
    margin-left: auto;
    margin-right: auto}

.mv0.w-70-m{
    margin-top: 40px;
}

.home .action.button{
  width: 200px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  border-color: #508080 !important;
  border-width: 2px !important;
  border-style: solid;
}

div.highlight {
  background-color: #F0F5F5 !important;
}

.pre {
  background-color: #508080 !important;
  color: #F0F5F5;
  max-height: 400px !important;
  overflow-y: auto;
  overflow-x: auto;
}

.page-main .social-icon-links a {
    color: #508080 !important;
}

// Cookie banner

#cookie-notice a {
  font-weight: 600;
  display: inline-flex;
  cursor: pointer;
  margin-left: 0.5rem;
}

#cookie-notice-accept {
  color: #F0F5F5;
  background-color: #508080 ;
  border-color: #508080;
  border-style: solid;
  padding: 8px 15px;
}

#cookie-notice-deny {
  color: #508080;
  border-color: #508080;
  background-color: #F0F5F5;
  border-style: solid;
  padding: 8px 15px;
}

#cookie-notice {
  font-size: larger;
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background: #F0F5F5;
  border-top: 2px solid #508080;
  opacity: 1;
  z-index: 1000;
  color: #508080;
}

/* Style the search box inside the navigation bar */

input[type=text] {
  padding: 6px;
  margin-top: 10px;
  height: 40px;
  border-color: #508080 !important;
  border-width: 2px !important;
  border-style: solid;
  font-family: Commissioner;
  background-color: #F0F5F5;
  font-size: 17px;
}

input[type=submit] {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: block;
  border-color: #508080 !important;
  border-width: 2px !important;
  border-style: solid;
  font-family: Commissioner;
  color: #508080;
}

/* Two columns layout */

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* Two columns layout */

blockquote {
  margin: 20px 0 30px;
  padding-left: 20px;
  border-left: 5px solid #508080;
}

/* Sticky footer */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}