// set custom hex colors 
$siteBgColorCustom: #F0F5F5;
$sidebarBgColorCustom: #F0F5F5;
$textColorCustom: #2F4F4F;
$sidebarTextColorCustom: #2F4F4F;
$headlineColorCustom: #2F4F4F;
$headingColorCustom: #2F4F4F;
$bodyLinkColorCustom: #508080;
$navLinkColorCustom: #2F4F4F;
$sidebarLinkColorCustom: #508080;
$footerTextColorCustom: #2F4F4F;
$buttonTextColorCustom: #F0F5F5;
$buttonHoverTextColorCustom: #F0F5F5;
$buttonBgColorCustom: #F0F5F5;
$buttonHoverBgColorCustom: #2F4F4F;
$borderColorCustom: #2F4F4F;
