// set custom hex colors 
$siteBgColorCustom: #eaf2f2;
$sidebarBgColorCustom: #f7f7f4;
$textColorCustom: #2F4F4F;
$sidebarTextColorCustom: #2F4F4F;
$headlineColorCustom: #546666;
$headingColorCustom: #546666;
$bodyLinkColorCustom: #546666;
$navLinkColorCustom: #546666;
$sidebarLinkColorCustom: #546666;
$footerTextColorCustom: #546666;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f7f7f4;
$buttonBgColorCustom: #f7f7f4;
$buttonHoverBgColorCustom: #546666;
$borderColorCustom: #546666;
