/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

// font family
$font-family-sans-serif: 'Commissioner', Arial, sans-serif !default;
$presentation-heading-font: 'Fraunces', Times New Roman, serif  !default;

// font size
$presentation-h1-font-size: 2.6em;
$presentation-h2-font-size: 1.7em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.5em;

// font colour
$presentation-heading-color: #2F4F4F !default;

// code
$code-color: #546666 !default;
$code-block-font-size: 0.6em;
$code-block-border-color: #2F4F4F;
$code-block-bg: #F0F5F5;

// bg colours 
$body-color: #2F4F4F;
$link-color: #546666;
$body-bg: #eaf2f2;

/*-- scss:rules --*/

.subtitle {
  color: $body-bg;
  font-size: $presentation-h2-font-size;
  font-family: $font-family-sans-serif;
}

.author {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

.author a {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: $body-bg;
}

.reveal .footer {
  color: #5b868d;
  font-family: $font-family-sans-serif;
  padding-bottom: 25px;
}

.reveal .slide-logo {
  right: 12px;
  padding-bottom: 20px !important;
  max-height: 40px !important;
}

.reveal .slide-menu-button {
    left: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #12a79d;
  }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2F4F4F;
  height: 2%;
}